<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Dotdigitalgroup\Email\Console\Command\ImporterSyncsCommand">
        <plugin name="Shaun_CliProfiler" type="Shaun\Profiler\Plugin\CliProfilerPlugin" sortOrder="1" disabled="false" />
    </type>
</config>
